<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="{{ url_for('static', filename='templates.js') }}"></script>
    <title>Clagnosco - Классификация изображений</title>
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='svg/clagnosco.svg') }}">
</head>
<body>
    <div id="custom-alert" class="custom-alert">
    ...
    </div>
    <div class="container">
        <div class="menu-tab">
            <div class="init-tab">
                <div class="project-name">
                    <div class="project-name-text">Clagnosco</div>
                    <button class="class-button class-button-info" title="Информация о Clagnosco" onclick="
                        window.open('https://github.com/pogorzelskich/clagnosco', '_blank')"
                    "></button>
                </div>
                <input type="text" id="localFolder" placeholder="Введите путь к папке с изображениями" value="C:\!project-dataset\z_images_small"/>

                <select id="modelNameSelect">
                    <option value="model.pt">model.pt</option>
                    <option value="download">model.pt (временная загрузка модели из интернета без сохранения)</option>
                </select>

                <div class="checkbox">
                    <input type="checkbox" id="caching" checked/>
                    <label for="caching">Кэшировать латентные векторы</label>
                </div>

                <div class="init-button-area" id="menuStatusInit">
                    <button class="init-btn-clear-cache" id="initButtonClearCache" onclick="clearCache();">Очистить кэш</button>
                    <button class="init-btn-process" id="initButtonProcess" onclick="launchProcessing();">Обработать</button>
                </div>

                <div class="status-bar processing hidden" id="menuStatusProcessing">
                    <div class="status-fill"></div>
                    <span>Загрузка модели</span>
                </div>
                
                <div class="init-button-area hidden" id="menuStatusDone">
                    <button class="init-btn-reset" id="initButtonReset">Сбросить</button>
                    <button class="init-btn-save" id="initButtonSave">Сохранить</button>
                </div>
                
            </div>
            <div class="classes-tab hidden">
                <div class="classes-header">
                    <label>Выбор класса</label>
                    <button class="class-button class-button-add" title="Создать пустой класс" onclick="createEmptyClagnoscoClass();"></button>
                </div>

                <div class="classes-list" id="classesList">
                    <div class="class-selection">
                        <button class="class-index-name-size" onclick="selectClagnoscoClass(this);">
                            <div class="class-index-name-size-index">№1</div>
                            <div class="class-index-name-size-name">Class A</div>
                            <div class="class-index-name-size-size">(2)</div>
                        </button>
                        <button class="class-button class-button-copy" title="Копировать класс" onclick="copyClagnoscoClass(this);"></button>
                        <button class="class-button class-button-delete" title="Удалить класс" onclick="deleteClagnoscoClass(this);"></button>
                    </div>
                    <div class="class-selection class-selected">
                        <button class="class-index-name-size" disabled onclick="selectClagnoscoClass(this);">
                            <div class="class-index-name-size-index">№2</div>
                            <div class="class-index-name-size-name">Class B</div>
                            <div class="class-index-name-size-size">(1)</div>
                        </button>
                        <button class="class-button class-button-copy" title="Копировать класс" onclick="copyClagnoscoClass(this);"></button>
                        <button class="class-button class-button-delete" title="Удалить класс" onclick="deleteClagnoscoClass(this);"></button>
                    </div>
                    <div class="class-selection">
                        <button class="class-index-name-size" onclick="selectClagnoscoClass(this);">
                            <div class="class-index-name-size-index">№3</div>
                            <div class="class-index-name-size-name name-empty"></div>
                            <div class="class-index-name-size-size">(4)</div>
                        </button>
                        <button class="class-button class-button-copy" title="Копировать класс" onclick="copyClagnoscoClass(this);"></button>
                        <button class="class-button class-button-delete" title="Удалить класс" onclick="deleteClagnoscoClass(this);"></button>
                    </div>
                </div>
            </div>
        </div>
            <div class="class-tab" id="classTab">
                <div class="class-name-tab" id="classNameTab">
                    <div class="class-name-tab-main">
                        <div class="class-name-tab-main-index">№2</div>
                        <!-- <div class="class-name-tab-main-name name-empty"></div> -->
                        <div class="class-name-tab-main-name">Class B</div>
                        <div class="class-name-tab-main-size">(1)</div>
                    </div>
                    <button class="class-button class-button-edit class-button-bigger"  title="Переименовать класс" onclick="renameClagnoscoClass();"></button>
                    <button class="class-button class-button-all-select class-button-bigger" title="Выбрать все изображения" onclick="selectAllImages();"></button>
                    <button class="class-button class-button-all-deselect class-button-bigger" title="Внять выделение всем изображениям" onclick="deselectAllImages();"></button>
                    <button class="class-button class-button-percent class-button-bigger" title="Выбрать процент входа в класс" onclick="setPercentImages();"></button>
                    <button class="class-button class-button-copy class-button-bigger" title="Копировать класс" onclick="copyClagnoscoClass();"></button>
                    <button class="class-button class-button-delete class-button-bigger" title="Удалить класс" onclick="deleteClagnoscoClass();"></button>
                </div>
                <div class="images-tab" id="imagesTab">
                
                    <div class="image-container image-selected">
                        <div class="image-display" onclick="imageSelector(this, force=true, recount=true, image=true);">
                            <img draggable="false" src="http://127.0.0.1:5000/img_small/C:\!project-dataset\z_images_small\dc79d0114da3a0631c686797d52ae72a.jpg">
                        </div>
                        <div class="image-meta">
                            <div class="image-meta-name" onclick="openFullImage(this);" title='Открыть «dc79d0114da3a0631c686797d52ae72a.jpg» в новой вкладке'>dc79d0114da3a0631c686797d52ae72a.jpg</div>
                            <div class="image-meta-chance-tab">
                                <div>Вероятность:</div>
                                <div class="image-meta-chance-value" title="1.0">100.00%</div>
                                <div>Выбрать:</div>
                                <input type="checkbox" class="image-meta-chance-checkbox" onclick="imageSelector(this);" checked/>
                            </div>
                        </div>
                    </div>
                    <div class="image-container">
                        <div class="image-display" onclick="imageSelector(this, force=true, recount=true, image=true);">
                            <img draggable="false" src="http://127.0.0.1:5000/img_small/C:\!project-dataset\z_images_small\dc47bf4a8898c4f07ae13e311ac8fea3.jpg">
                        </div>
                        <div class="image-meta">
                            <div class="image-meta-name" onclick="openFullImage(this);" title='Открыть «Image File.jpg» в новой вкладке'>Image File.jpg</div>
                            <div class="image-meta-chance-tab">
                                <div>Вероятность:</div>
                                <div class="image-meta-chance-value" title="0.4">40.00%</div>
                                <div>Выбрать:</div>
                                <input type="checkbox" class="image-meta-chance-checkbox" onclick="imageSelector(this);"/>
                            </div>
                        </div>
                    </div>
                    <div class="image-container">
                        <div class="image-display" onclick="imageSelector(this, force=true, recount=true, image=true);">
                            <img draggable="false" src="http://127.0.0.1:5000/img_small/C:\!project-dataset\z_images_small\d8843534296085c7662cb09addcc734a.webp">
                        </div>
                        <div class="image-meta">
                            <div class="image-meta-name" onclick="openFullImage(this);" title='Открыть «img.webp» в новой вкладке'>img.webp</div>
                            <div class="image-meta-chance-tab">
                                <div>Вероятность:</div>
                                <div class="image-meta-chance-value" title="0.1101">11.01%</div>
                                <div>Выбрать:</div>
                                <input type="checkbox" class="image-meta-chance-checkbox" onclick="imageSelector(this);"/>
                            </div>
                        </div>
                    </div>
                    <div class="image-container">
                        <div class="image-display" onclick="imageSelector(this, force=true, recount=true, image=true);">
                            <img draggable="false" src="http://127.0.0.1:5000/img_small/C:\!project-dataset\z_images_small\da419ceda3431f5112a05671ec97389c.png">
                        </div>
                        <div class="image-meta">
                            <div class="image-meta-name" onclick="openFullImage(this);" title='Открыть «da419ceda3431f5112a05671ec97389c.png» в новой вкладке'>da419ceda3431f5112a05671ec97389c.png</div>
                            <div class="image-meta-chance-tab">
                                <div>Вероятность:</div>
                                <div class="image-meta-chance-value" title="0.11">11.00%</div>
                                <div>Выбрать:</div>
                                <input type="checkbox" class="image-meta-chance-checkbox" onclick="imageSelector(this);"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
