<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="{{ url_for('static', filename='templates.js') }}"></script>
    <title>Clagnosco - Классификация изображений</title>
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='svg/clagnosco.svg') }}">
</head>
<body onload="setupReloadConfirmation(); resetAll(confirmResetAll=false);">
    <div id="custom-alert" class="custom-alert">
    ...
    </div>
    <div class="fullscreen-loader">
        <div class="rotating-image"></div>
    </div>
    <div class="container">
        <div class="menu-tab">
            <div class="init-tab">
                <div class="project-name">
                    <div class="project-name-text">Clagnosco</div>
                    <button class="class-button class-button-info" title="Информация о Clagnosco" onclick="
                        window.open('https://github.com/pogorzelskich/clagnosco', '_blank')"
                    "></button>
                </div>
                <input type="text" id="localFolder" placeholder="Введите путь к папке с изображениями" value="C:\!project-dataset\z_images_small"/>

                <label class="init-tab-label">Модель</label>
                <select id="modelNameSelect">
                    <option value="download">model.pt (использование модели из интернета без сохранения на диск)</option>
                </select>

                <div class="checkbox">
                    <input type="checkbox" id="caching" checked/>
                    <label for="caching">Кэшировать латентные векторы</label>
                </div>

                <div class="init-button-area" id="menuStatusInit">
                    <button class="init-btn-clear-cache" id="initButtonClearCache" onclick="clearCache();">Очистить кэш</button>
                    <button class="init-btn-process" id="initButtonProcess" onclick="launchProcessing();">Обработать</button>
                </div>

                <div class="status-bar processing hidden" id="menuStatusProcessing">
                    <div class="status-fill"></div>
                    <span>Загрузка модели</span>
                </div>
                
                <div class="init-button-area hidden" id="menuStatusDone">
                    <button class="init-btn-reset" id="initButtonReset" onclick="resetAll();">Сбросить</button>
                    <button class="init-btn-save" id="initButtonSave">Сохранить</button>
                </div>
                
            </div>
            <div class="classes-tab">
                <div class="classes-header">
                    <label>Выбор класса</label>
                    <button class="class-button class-button-add" title="Создать пустой класс" onclick="createEmptyClagnoscoClass();"></button>
                </div>

                <div class="classes-list" id="classesList">
                </div>
            </div>
        </div>
            <div class="class-tab-loading">
                <div class="rotating-image"></div>
            </div>
            <div class="class-tab" id="classTab">
                <div class="class-name-tab" id="classNameTab">
                    <div class="class-name-tab-main">
                        <div class="class-name-tab-main-index">№0</div>
                        <div class="class-name-tab-main-name name-empty"></div>
                        <div class="class-name-tab-main-size">(0)</div>
                    </div>
                    <button class="class-button class-button-edit class-button-bigger"  title="Переименовать класс" onclick="renameClagnoscoClass();"></button>
                    <button class="class-button class-button-all-select class-button-bigger" title="Выбрать все изображения" onclick="selectAllImages();"></button>
                    <button class="class-button class-button-all-deselect class-button-bigger" title="Внять выделение всем изображениям" onclick="deselectAllImages();"></button>
                    <button class="class-button class-button-percent class-button-bigger" title="Выбрать процент входа в класс" onclick="setPercentImages();"></button>
                    <button class="class-button class-button-copy class-button-bigger" title="Копировать класс" onclick="copyClagnoscoClass();"></button>
                    <button class="class-button class-button-delete class-button-bigger" title="Удалить класс" onclick="deleteClagnoscoClass();"></button>
                </div>
                <div class="images-tab" id="imagesTab">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
